.DS_Store
node_modules
/dist


# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Electron-builder output
/dist_electron
./temp.wav
language_models
hotword_trigger.txt
latest_recording.txt
google_client_secret.json
sounds/*/gpt_answer.mp3
public/sounds